* {
    box-sizing: border-box;
    padding : 0;
    margin: 0;
}

.logo {
    object-fit: contain;
    height: 50px;
    width: auto;
    border-radius: 50px;
    margin-right: 10px;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
}

nav {
    overflow: hidden;
    display: flex; 
    gap: 770px;
}

nav ul {
    display: flex;
    gap: 10px;
    list-style: none;
    align-items: center;
}

header {
    height: 500px;
    text-align: center;
    padding-top: 80px;
    margin-bottom: 50px;
}

header h2{
    font-size: 70px;
    font-weight: bold;
    padding-bottom: 15px;
}

header h3 {
    font-size: 25px;
    line-height: 40px;
    padding-bottom: 25px;
}

header button{
    padding: 13px 25px;
    border-radius: 10px;
}

header button:first-of-type {
    margin-right: 13px;
}

main h3 , #two h3{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 24px;
}  

.main-text, #two .text {
    font-size: 21px;
    text-align: center;
    margin-bottom: 30px;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 40px;
}

.container {
    text-align: justify;
}

.container i {
    font-size: 40px;
    margin-bottom: 10px;
}

.container h4 {
    font-size: 
}













